# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# IDEs
.idea/
*.swp
*.swo

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# PDM
__pypackages__/

# Local dev files
*.log

# OS files
.DS_Store
Thumbs.db
